<!-- style="background-image: url(assets/images/values-1-1.jpg);" -->
<!-- <section class="values-one mb-120">
    <div class="values-one__wrap row d-flex wrapper-general-info">
        <div class="col-12 col-lg-6">
            <div class="values-one__bg bg-left" id="values-one_bg"  >
            </div>
        </div>
        <div class="col-12 col-lg-6 right-block">
            <div class="values-one__content">
                <div class="section-title text-left">
                    <span class="section-title__tagline title-1">Lux Place Apartmani</span>
                    <h2 class="section-title__title title-2">Lux Place: Vaša vrata ka raskošnom iskustvu</h2>
                </div>
                <p class="values-one__text text-1">Lux Place je renomirana kompanija koja se ističe kao lider u stvaranju ekskluzivnih prostora koji nadmašuju očekivanja.
                     Naša strast za dizajnom i detaljima osigurava da svaki projekat bude izrađen sa izvanrednom pažnjom i luksuzom.</p>
                <div class="values-one__points-box">
                    <div class="values-one__points-img">
                        <img src="/assets/images/values-1-2.jpg" alt>
                    </div>
                    <ul class="values-one__points list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Besprekoran stil</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Savršeno usaglašavanje</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Izuzetnog kvaliteta</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="py-4">
    <div class="container py-2">
        <div class="wrapper">
            <h1 class="section-title__tagline title-1 mb-0">Dobrodošli u Paradise Apartmane</h1>
            <h2 class="title-2 mb-0">Vaš najbolji izbor udobnih apartmana u različitim delovima Beograda</h2>
            <p class="white-space testimonial-two__top-text text-1">
U Paradise Apartments, naša strast nije samo pružanje udobnog smeštaja, već stvoriti atmosferu gde gostoprimstvo i ljubaznost postaju deo vašeg nezaboravnog boravka u Beogradu.

Osnovani s ljubavlju prema ugostiteljstvu i gostoprimstvu, od 2018. godine, "Paradise Apartments" je sinonim za vrhunski smeštaj u Beogradu.

Bez obzira da li ste ovde zbog posla, odmora ili avanture, "Paradise Apartments" nudi prostor gde stil i udobnost postaju jedno.

            </p>
        </div>
    </div>

    <div class="container py-2">
        <div class="wrapper">
            <h1 class="section-title__tagline title-1 mb-">Ono što nas izdvaja</h1>
            <div class="white-space testimonial-two__top-text title-2 font-17">
                <div class="d-flex align-items-center mb-3">
                    <div class="mr-10">
                        <span class="kvacica fa fa-check "></span>
                    </div>
                    <div class="">
                        Dobrodošli U Vaš Novi Dom: "Paradise Apartments" nudi više od smeštaja – pružamo vam osećaj doma u Beogradu, gde se gostoprimstvo pretvara u prijateljski osmeh.
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="mr-10">
                        <span class="kvacica fa fa-check "></span>
                    </div>
                    <div class="">
                        Domaćinski Pristup: Naš predani tim nije samo tu da vam pruži ključeve; mi smo vaši domaćini, spremni vam pružiti savete o lokalnim draguljima i prepoznati vaše individualne potrebe.
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="mr-10">
                        <span class="kvacica fa fa-check "></span>
                    </div>
                    <div class="">
                        Stil i Komfor: Svaki detalj u našim apartmanima odražava vrhunski dizajn, pružajući vam osećaj luksuza i topline na svakom koraku.  
                    </div>
                </div>
                <p class="text-1 mt-1">
                    Paradise Apartments je više od smeštaja; to je vaša oaza u Beogradu. Mi ne nudimo samo smeštaj, već iskustvo koje ćete pamtiti. Vaša avantura u Beogradu počinje ovde.
                    <br/>
                    
                    Hvala što birate Paradise Apartmane za svoj boravak. <a class="rezervisite" routerLink="/apartments">Rezervišite</a> sada i učinite svoj boravak nezaboravnim.
                </p>
            </div>
        </div>
    </div>

    <div class="container py-2">
        <div class="wrapper">
            <h1 class="section-title__tagline title-1 mb-">Pravila Boravka</h1>
            <div class="white-space testimonial-two__top-text title-2 font-17">
                <div class="mb-4">
                    <div class="d-flex align-items-center mb-1">
                        <div class="mr-10">
                            <span class="kvacica-pravila"></span>
                        </div>
                        <div class="">
                            Dolazak i odlazak iz apartmana
                        </div>
                    </div>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Dolazak u apartman je od 14h, a odlazak do 11h ukoliko sa vlasnikom nije drugačije dogovoreno.
                    </p>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Gosti su duzni da se krajnje pažljivo odnose prema inventaru apartmana. U slučaju štete, ona mora biti nadoknadjena od strane gosta.
                    </p>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Dozvoljeno je neometano primanje gostiju u apartman, ali uz poštovanje javnog reda i mira.
                    </p>
                   
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-center mb-1">
                        <div class="mr-10">
                            <span class="kvacica-pravila"></span>
                        </div>
                        <div class="">
                            Otkazivanje rezervacije ili promena dužine boravka
                        </div>
                    </div>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Ukoliko iz bilo kog razloga niste u mogućnosti da boravite u odabranom apartmanu ili želite da skratite/produžite boravak, molimo Vas da nas o tome u najkraćem roku obavestite putem e-maila ili telefonskim pozivom.
                    </p>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-center mb-1">
                        <div class="mr-10">
                            <span class="kvacica-pravila"></span>
                        </div>
                        <div class="">
                            Dolazak i odlazak iz apartmana
                        </div>
                    </div>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Dolazak u apartman je od 14h, a odlazak do 11h ukoliko sa vlasnikom nije drugačije dogovoreno.
                    </p>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Gosti su duzni da se krajnje pažljivo odnose prema inventaru apartmana. U slučaju štete, ona mora biti nadoknadjena od strane gosta.
                    </p>
                    <p class="text-1 mb-0 mt-1 ml-20">
                        - Dozvoljeno je neometano primanje gostiju u apartman, ali uz poštovanje javnog reda i mira.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>

</section>