
<section>
    <section class="pb-4 pt-2 section-map">
        <p class="adress-title">Adresa - <span class="adress-text">{{street}} {{streetNum}}</span></p>
        <div class="w-100 d-flex justify-content-center">
            <ng-container *ngIf="mapString && mapString.length > 0; else elseBlock">
                <div id="iframe-map" class="w-100 d-flex d-flex justify-content-center" #iframeWrapper [innerHTML]="safeString"></div>
            </ng-container>
            <ng-template #elseBlock>
                <!-- <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.429353520345!2d20.457937726725152!3d44.81281702666298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7ab209cff051%3A0x52504f6400d4b777!2z0KXQvtGC0LXQuyDigJ7QnNC-0YHQutCy0LAi!5e0!3m2!1ssr!2srs!4v1692232226402!5m2!1ssr!2srs"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </ng-template>

        </div>
    </section>
    <section class="mb-3 pb-2">
        <p class="other-spec-text mt-4 px-1">Kućni red:</p>
        <ul class="list-unstyled apartment-details-one__points">
            <li *ngFor="let item of lines" class="li">
                <div class="col-1 icon-container ">
                    <i class="iconn text-center {{item.icon}}"></i>
                </div>
                <div class="col-10 d-flex">
                    <p class="mb-0 text">{{item.text}}</p>
                </div>
            </li>
            
        </ul>

    </section>
</section>
<!--<div _ngcontent-ng-c383973108="" class="w-100 d-flex justify-content-center"><div _ngcontent-ng-c383973108="" class="w-100 ng-star-inserted"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90629.23195850915!2d20.4537856!3d44.77747199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a658f06fa51eb%3A0x6e30766bcc88d9fa!2zRW1tZXpldGEg0JHQtdC-0LPRgNCw0LQ!5e0!3m2!1ssr!2srs!4v1692570217139!5m2!1ssr!2srs" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div><!--ng-container--><!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}</div>-->