<section>
    <section class="mt-56 contact-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="contact-one__left">
                        <div class="section-title text-left mt-0">
                            <span class="section-title__tagline">Možete i posetiti našu agenciju</span>
                            <h2 class="section-title__title color-strong">Zakažite posetu</h2>
                        </div>
                        
                        <ul class="contact-one__points list-unstyled mb-4 d-block">
                            <li>
                                <div class="icon">
                                    <span class="fas fa-phone-alt"></span>
                                </div>
                                <div class="content d-flex align-items-center">
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <p class="mb-0 px17 ">Marko Markovic:</p>
                                            <h4 class="mb-0 mx-1 "><a class="color-strong mobile-font" href="tel:{{CONTACT_.PHONE}}">{{CONTACT_.PHONE}}</a></h4>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <p class="mb-0 mx-2 px17 ana-radulovic">Ana Radulovic:</p>
                                            <h4 class="mb-0"><a class="color-strong mobile-font" href="tel:{{CONTACT_.PHONE2}}">{{CONTACT_.PHONE2}}</a></h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </li>
                            <li class="mobile-margin-left-0 mx-0">
                                <div class="icon">
                                    <span class="fas fa-envelope"></span>
                                </div>
                                <div class="content">
                                    <p class="mb-0 px17">Pišite nam email</p>
                                    <h4><a class="color-strong mobile-font" href="mailto:{{CONTACT_.EMAIL}}">{{CONTACT_.EMAIL}}</a></h4>
                                </div>
                            </li>
                        </ul>

                        <div class="contact-one__person">
                            <div class="contact-one__person-info d-none">
                                <div class="contact-one__person-img">
                                    <img src="/assets/images/dnZGdqajmSjw.jpg" alt>
                                </div>
                                <div class="contact-one__person-content">
                                    <h3 class="contact-one__person-name color-strong">Vladimir Markovic</h3>
                                    <p class="contact-one__person-sub-title">Generalni direktor</p>
                                </div>
                            </div>
                            <div class="contact-one__person-text">
                                <p class="line-h">
                                    Otvoreni smo za svaku vrstu saradnje. Takođe i ukoliko imate bilo kakvih zahteva, rado ćemo ih ispuniti
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 contact-one__right-container">
                    <div class="contact-one__right">
                        <div class="contact-one__form-box wow slideInRight contact-form-container" data-wow-delay="100ms" data-wow-duration="2500ms">
                            <div class="contact-form-bg">
                            </div>
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Kontaktirajte nas</span>
                                <h2 class="section-title__title">Pošaljite Upit</h2>
                            </div>

                                <app-contact-form ></app-contact-form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
       
    </section>
</section>