<section class="floor-plan py-5 mt-4">
    <div class="container">
        <div class="floor-plan__top">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="floor-plan__top-left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">U toku je</span>
                            <h2 class="section-title__title color-strong">Planiranje izgradnje nove zgrade sa apartmnaima</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="floor-plan__top-right">
                        <p class="floor-plan__top-text">
                            Upoznajte svoj novi dom u srcu grada! Predstavljamo vam našu najnoviju zgradu sa modernim apartmanima, savršenim za 
                            udoban i luksuzan način života. Svetle prostorije, vrhunski materijali i pažljivo osmišljeni prostorni raspored čine ove apartmane 
                            idealnim mestom za vašu porodicu ili poslovni prostor. 
                            Uživajte u predivnom pogledu s balkona, opustite se u udobnosti prostranih soba i istražujte obližnje restorane, prodavnice i kulturne atrakcije. 
                        </p>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="floor-plan__main-tab-box tabs-box">
            <ul class="tab-buttons clearfix list-unstyled">
                <li data-tab="#penthouse" class="tab-btn active-btn"><span>Penthouse</span></li>
            </ul>
            <div class="tabs-content">
                <!--tab-->
                 <div class="tab active-tab" id="penthouse">
                    <div class="floor-plan__tab-content-inner">
                        <div class="floor-plan__tab-content-left">
                            <ul class="list-unstyled floor-plan__tab-content-details">
                                <li>
                                    <p>Ukupna Površina</p>
                                    <span>280 m2</span>
                                </li>
                                <li>
                                    <p>Sprat</p>
                                    <span class="color-white">2.</span>
                                </li>
                                <li>
                                    <p>Trenutni Status</p>
                                    <span >U Izgradnji</span>
                                </li>
                                <li>
                                    <p>Broji soba</p>
                                    <span class="color-white">04</span>
                                </li>
                                <li>
                                    <p>Dostupan Parking</p>
                                    <span>DA</span>
                                </li>
                                <li>
                                    <p>Mesečni zakup</p>
                                    <span class="color-white">240.000 RSD / {{240000| RsdToEur| MoneyFormat}} EUR</span>
                                </li>
                            </ul>
                        </div>
                        <div class="floor-plan__tab-content-righ">
                            <img class="w-100" src="/assets/images/n3sa1nOXstRD.png" alt="floor plan lux place">
                        </div>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
</section>