					<!--Page Header Start-->
<section class="page-header ">
    <div class="page-header-bg"></div>
    <div class="page-header__overly"></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                <!-- <li class="home">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Alipes." href="#" class="home firstWord" >
                            <span property="name" class="font-24 break-word firstWord">{{firstWord | uppercase}}</span>
                        </a>
                        <meta property="position" content="1">
                    </span>
                </li> -->
                <!-- <li class="post post-page current-item">
                    <span property="itemListElement" typeof="ListItem">
                        <span property="name" class="post post-page current-item font-24 break-word">{{smallText | uppercase}}</span>
                        <meta property="url" content="https://bracketweb.com/alipeswp/apartments-one/">
                        <meta property="position" content="2">
                    </span>
                </li> -->
            </ul>
            <h2 class="uppdercasse title font-30 break-word firstWord">{{text | uppercase}}</h2>
            <h3 class="uppdercasse subtitle font-30 break-word firstWord">{{subtext | uppercase}}</h3>
            <!-- <h2 class="uppdercasse font-30 break-word">{{bigText | uppercase}}</h2> -->
        </div>
    </div>
</section>
