<div class="container filter-parent-block pt-5">
    <div class="" >
        <i class="filter-icon fa-solid fa-sliders" (click)="toggleBlock()"></i> <span (click)="toggleBlock()" class="filter-icon">Filteri</span>
    </div>
</div>
<div class="container filter-parent-block pt-5  block-container block-visible" [@blockAnimation]="blockState">
    <!-- <h5 class="filter-apartment-subtitle">Filtrirajte apartmane</h5> -->
    <form [formGroup]="filterForm" (ngSubmit)="submitForm()">
        <div class="w-100">
            <div class="col-12  justify-content-around">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="d-block">
                        <mat-label>Naslov</mat-label>
                        <input matInput type="text" formControlName="title"/>
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="form-row col-12 col-lg-4">
                        <mat-form-field class="w-100">
                        <mat-label>Broj osoba:</mat-label>
                        <mat-select placeholder="Broj osoba"  formControlName="numPerson">
                            
                            <ng-container *ngFor="let num of numbersOfPersons">
    
                                <ng-container *ngIf="num == numPerson; else elseBlock">
                                    <mat-option [value]="num" selected>{{ num }}</mat-option>
                                </ng-container>
                                <ng-template #elseBlock>
                                    <mat-option [value]="num">{{ num }}</mat-option>
                                </ng-template>
                            </ng-container>                                
                        </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-row col-12 col-lg-4">
                        <mat-form-field class="w-100">
                            <mat-label>Od:</mat-label>
                            <input  matInput [matDatepicker]="dateStartPicker" [(ngModel)]="start" [min]="minStartDate" name="start"
                                    (dateChange)="onDateStartChange()" formControlName="start"/>
                            <mat-datepicker-toggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="form-row col-12 col-lg-4">
                        <mat-form-field class="w-100">
                            <mat-label>Do:</mat-label>
                            <input  matInput [matDatepicker]="dateEndPicker" [(ngModel)]="end"
                                    [min]="minEndDate" formControlName="end"   name="end"/>
                            <mat-datepicker-toggle matSuffix [for]="dateEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">        
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="d-block">
                        <mat-label>Opština</mat-label>
                        <mat-select formControlName="city" multiple>
                            <mat-option *ngFor="let city of cities" [value]="city.id" selected>{{ city.name }}</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field appearance="fill" class="d-block">
                        <mat-label>Kategorija</mat-label>
                        <mat-select formControlName="category"  multiple>
                            <mat-option *ngFor="let category of categories" [value]="category.id" selected="{{category.id === defaultCategoryId ? 'true':'false' }}" >{{ category.name }}</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row d-flex ">
                    <div class="col-12 col-lg-6">
                        <mat-form-field appearance="fill" class="w-100 d-flex align-items-center">
                        <mat-label>Min. Cena (rsd)</mat-label>
                        <input matInput type="number" step="200"  value="0" class="custom-input" formControlName="minPrice">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-lg-6 d-flex align-items-center">
                        <mat-form-field appearance="fill" class="w-100 d-flex align-items-center">
                        <mat-label>Max. Cena (rsd)</mat-label>
                        <input matInput type="number" step="200"  value="10000" class="custom-input"  formControlName="maxPrice">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row d-flex "> 
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group  class="row">
                            <mat-checkbox formControlName="checkLift" value="4">Lift</mat-checkbox>
                        </mat-radio-group>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group class="row">
                            <mat-checkbox formControlName="checkKlima" value="2">Klima</mat-checkbox>
                        </mat-radio-group>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group  class="row">
                            <mat-checkbox formControlName="checkTv" value="3">TV</mat-checkbox>
                        </mat-radio-group>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group class="row">
                            <mat-checkbox formControlName="checkDjakuzi" value="11">Djakuzi</mat-checkbox>
                        </mat-radio-group>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group class="row">
                            <mat-checkbox  formControlName="checkTerasa"  value="20">Terasa</mat-checkbox>
                        </mat-radio-group>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group class="row">
                            <mat-checkbox  formControlName="checkSef"  value="21">Sef</mat-checkbox>
                        </mat-radio-group>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 col-lg-2">
                        <mat-radio-group class="row">
                            <mat-checkbox formControlName="checkParking" value="parking">Parking</mat-checkbox>
                        </mat-radio-group>
                    </div>

                </div>
                
                <div class="col-12 col-lg-2 d-flex justify-content-end align-items-center">
                    <button mat-raised-button color="" class="button-bg-color-1 w-100 submit-filter-btn"  type="submit">Filtriraj</button>
                </div>
                
            </div>
        </div>
    </form>
</div>    

<div class="d-flex justify-content-center  w-100">
    <ng-container *ngIf="!HasApartment && !loading">
        <div class="container d-flex">
            <div class="alert">
                <h3 class="filter-apartment-subtitle">Nažalost trenutno nema traženih apartmana</h3>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <div class="container d-flex justify-content-center">
            <div class="alert">
                <div class="spinner" [@spin]></div>
            </div>
        </div>
    </ng-container>
</div>