<div class="main-header__top-inner top-header d-flex">
    <div class="main-header__top-left col-12 col-lg-2 d-flex justify-content-center align-items-center ">

        <div class="main-menu__social w-100 d-flex justify-content-center align-items-center">
            <a target="_blank" href="{{CONTACT.INSTAGRAM}}"><i class="fab fa-instagram header-social-icon social-icon"></i></a>
            <!-- <a target="_blank" href="{{CONTACT.FACEBOOK}}"><i class="fab fa-facebook header-social-icon social-icon"></i></a> -->
        </div>
    </div>
   
    <div class="main-header__top-right col-12 col-lg-6 offset-lg-3 d-flex justify-content-center align-items-center">
        <div class="icon">
            <i class="fas fa-phone header-phone-icon"></i>
        </div>
        <div class="mx-2"></div>
        <div class="text ml-3">
            <p class="mb-0">
                <a class="mail" href="tel:{{CONTACT.PHONE}}">{{CONTACT.PHONE}}</a> | 
                <a class="mail" href="tel:{{CONTACT.PHONE2}}">{{CONTACT.PHONE2}}</a>
            </p>
        </div>
        <div class="mx-3"></div>
        <div class="icon">
            <i class="fas fa-envelope header-phone-icon"></i>
        </div>
        <div class="mx-2"></div>
        <div class="text ml-3">
            <p class="mb-0"><a class="mail" href="mailto:{{CONTACT.EMAIL}}">{{CONTACT.EMAIL}}</a></p>
        </div>
    </div>
</div>