
    <div class="apartment-two__single cardd w-100">
        <a routerLink="/apartments/{{data.id}}" class="w-100">
            <div class="apartment-two__img w-100">
                <div class="image-container fixed-width">
                    <div class="image-content">
                        <img decoding="async" class="img-of-card"
                        [src]="data.file.path"
                        alt="paradise apartman" title="paradise apartman">
                    </div>
                </div>

                <div class="apartment-two__btn-box fixed-width right-0">
                    <!-- <a class="thm-btn apartment-two__btn font-medium border-right" routerLink="/apartments/{{data.id}}">
                        {{data.price.regularPrice | MoneyFormat}} &euro;
                    </a> -->
                    <a class="thm-btn apartment-two__btn font-medium" routerLink="/apartments/{{data.id}}">
                        {{data.city.name}}
                    </a>
                </div>
            </div>
        </a>
        <div class="apartment-two__content fixed-height">
            <h3 class="apartment-two__title mb-12">
                <a class="apartment-two__sub-title title" href="/apartments/{{data.id}}"> {{data.title}}</a>
            </h3>
            <p class="apartment-two__sub-title subtitle"> Kategorija: {{data.category.name}}</p>
            <div class="row d-flex px-0" >
                <div class="col-6 features-block thm-btn left-border ">
                    <i class="fa-solid fa-user-group color-black"></i>
                    <p class="features">Max. {{data.maxPerson}}</p>
                </div>
                <div class="col-6 features-block thm-btn">
                    <i class="fa-solid fa-euro-sign  color-black"></i>
                    <p class="features">{{data.price.regularPrice | MoneyFormat}}</p>
                </div>

            </div>
            <!-- <p class="apartment-two__sub-title font-price">{{data.price.regularPrice | MoneyFormat}} EUR.</p> -->
        </div>
    </div>
