.footer-{
    background-color: var(--roze-krem2) !important;
}
.moto{
    mix-blend-mode: plus-lighter;
    text-transform: uppercase;
    -webkit-text-stroke: 0.012em rgb(218, 148, 214);
    filter: none;
    line-height: 1;
    text-align: center;
    font-family: var(--alipes-font-two);
    font-size: 30px;
}
@media (max-width: 992px) {
    .moto{
        text-align: center;
        font-size: 29px;
        filter:none !important;
    }
    .site-footer__top{
        padding: 46px 0 0px !important;
    }
}