/*MY CSS*/
.google-map-belgrade{
  border: 0px;
  height: 400px;
  width: 100%;
}
.lookup-map{
  color:var(--jaka-roza) !important;
  cursor: pointer;
  font-weight: bold;
}
#restoran-1{
    background-image: url("../../../../assets/images/belgrade/lorenzo.jpg");
}
#restoran-2{
    background-image: url("../../../../assets/images/belgrade/pomodoro.jpg");

}
#restoran-3{
    background-image: url("../../../../assets/images/belgrade/orasac2.jpg");
    
}
#restoran-4{
    background-image: url("../../../../assets/images/belgrade/sumatovic.jpg");
    
}
#restoran-5{
    background-image: url("../../../../assets/images/belgrade/hanan.jpg");
    
}
#restoran-6{
    background-image: url("../../../../assets/images/belgrade/snezana.jpg");
    
}
#restoran-7{
  background-image: url("../../../../assets/images/belgrade/tatoria.jpg");
  
}
#restoran-8{
  background-image: url("../../../../assets/images/belgrade/redbread.jpg");
  
}
#restoran-9{
  background-image: url("../../../../assets/images/belgrade/konoba.jpg");
}
#restoran-10{
  background-image: url("../../../../assets/images/belgrade/zavicaj.jpg");
}
#restoran-11{
  background-image: url("../../../../assets/images/belgrade/nebojsa.jpg");
}
#restoran-12{
  background-image: url("../../../../assets/images/belgrade/durmitor.jpg");
}
#restoran-13{
  background-image: url("../../../../assets/images/belgrade/lavash.jpg");
}

#restoran-14{
  background-image: url("../../../../assets/images/belgrade/smokvica.jpg");
}
#restoran-15{
  background-image: url("../../../../assets/images/belgrade/grmec.jpg");
}

#restoran-16{
  background-image: url("../../../../assets/images/belgrade/mikan.jpg");
}


#kafana-1{
  background-image: url("../../../../assets/images/belgrade/korcagin.jpg");
  background-size: contain;
}
#kafana-2{
  background-image: url("../../../../assets/images/belgrade/limunzut.jpg");

}
#kafana-3{
  background-image: url("../../../../assets/images/belgrade/znakpitanja.jpg");
  
}
#kafana-4{
  background-image: url("../../../../assets/images/belgrade/trisesira.jpg");
  
}
#kafana-5{
  background-image: url("../../../../assets/images/belgrade/dvajelena.jpg");
  
}
#kafana-6{
  background-image: url("../../../../assets/images/belgrade/jednomesto.jpg");
  
}
#kafana-7{
  background-image: url("../../../../assets/images/belgrade/jazbina.jpg");
  
}

#muzej-0{
  background-image: url("../../../../assets/images/belgrade/muzeji/narodni.jpg");  
}
#muzej-2{
  background-image: url("../../../../assets/images/belgrade/muzeji/muzeji-beograda.jpg");  
}
#muzej-3{
  background-image: url("../../../../assets/images/belgrade/muzeji/nikolaTesla.jpg");  
}
#muzej-4{
  background-image: url("../../../../assets/images/belgrade/muzeji/etnografski.jpg");  
}
#muzej-5{
  background-image: url("../../../../assets/images/belgrade/muzeji/istoriski.jpg");  
}
#muzej-6{
  background-image: url("../../../../assets/images/belgrade/muzeji/jugoslavija.jpg");  
}
#muzej-7{
  background-image: url("../../../../assets/images/belgrade/muzeji/kneginje-ljubice.jpg");  
}
#muzej-8{
  background-image: url("../../../../assets/images/belgrade/muzeji/konak-kneza-milosa.jpg");  
}
#muzej-9{
  background-image: url("../../../../assets/images/belgrade/muzeji/savremene-umetnosti.jpg");  
}
#muzej-10{
  background-image: url("../../../../assets/images/belgrade/muzeji/kinoteke.jpg");  
}
#muzej-11{
  background-image: url("../../../../assets/images/belgrade/muzeji/pravoslavne-crkve.jpg");  
}

#park-1{
  background-image: url("../../../../assets/images/belgrade/parkovi/kalemegdan.jpg");  
}
#park-2{
  background-image: url("../../../../assets/images/belgrade/parkovi/pionirski.jpg");  
}
#park-3{
  background-image: url("../../../../assets/images/belgrade/parkovi/tasmajdan.jpg");  
}
#park-4{
  background-image: url("../../../../assets/images/belgrade/parkovi/manjes.jpg");  
}
#park-5{
  background-image: url("../../../../assets/images/belgrade/parkovi/studentski.jpg");  
}
#park-6{
  background-image: url("../../../../assets/images/belgrade/parkovi/cirilio.jpg");  
}
#park-7{
  background-image: url("../../../../assets/images/belgrade/parkovi/botanicka.jpg");  
}
#park-8{
  background-image: url("../../../../assets/images/belgrade/parkovi/karadjordjev-park.jpg");  
}

#pozoriste-1{
  background-image: url("../../../../assets/images/belgrade/pozorista/narodno.jpg");  
}

#pozoriste-2{
  background-image: url("../../../../assets/images/belgrade/pozorista/terazije.jpg");  
}

#pozoriste-3{
  background-image: url("../../../../assets/images/belgrade/pozorista/atelje212.jpg");  
}

#pozoriste-4{
  background-image: url("../../../../assets/images/belgrade/pozorista/bitef.jpg");  
}

#pozoriste-5{
  background-image: url("../../../../assets/images/belgrade/pozorista/juguslovensko.jpg");  
}

#pozoriste-6{
  background-image: url("../../../../assets/images/belgrade/pozorista/beogradsko.jpg");  
}

#pozoriste-7{
  background-image: url("../../../../assets/images/belgrade/pozorista/zvezdara.jpg");  
}

.item-desc h3{
  color:var(--roze-krem1);
}
.item-desc > p > span{
  padding-top: 15px;
}
/*END MY CSS*/

h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
  }
  h3 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 36px;
  }
  button {
    outline: none !important;
  }
  /******* Common Element CSS End *********/
  
  /* -------- title style ------- */
  .line-title {
    position: relative;
    width: 400px;
  }
  .line-title::before,
  .line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
  }
  .line-title::before {
    width: 100%;
    background: #f2f2f2;
  }
  .line-title::after {
    width: 32px;
    background: var(--jaka-roza);
  }
  
  /******* Middle section CSS Start ******/
  /* -------- Landing page ------- */
  .game-section {
    padding: 60px 50px;
  }
  .game-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
  }
  .game-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .game-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  }
  /* .game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  } */
  .game-section .item-desc {
    padding-top: 4px;
    width: 100%;
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    background-color:rgba(0, 0, 0, 0.65);
  }
  .game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
  }
  .game-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
  }
  .game-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
  }
  /******** Middle section CSS End *******/
  
  /***** responsive css Start ******/
  
  @media (min-width: 992px) and (max-width: 1199px) {
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 20px;
      line-height: 32px;
    }
  
    /* -------- Landing page ------- */
    .game-section {
      padding: 50px 30px;
    }
    .game-section .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px;
    }
    .game-section .item.active {
      width: 400px;
    }
    .game-section .item-desc {
      transform: translateY(calc(100% - 46px));
      -webkit-transform: translateY(calc(100% - 46px));
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 20px;
      line-height: 32px;
    }
    .line-title {
      width: 330px;
    }
  
    /* -------- Landing page ------- */
    .game-section {
      padding: 50px 30px 40px;
    }
    .game-section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }
    .game-section .item.active {
      width: 360px;
    }
    .game-section .item-desc {
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }
  
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 19px;
      line-height: 24px;
    }
    .line-title {
      width: 250px;
    }
  
    /* -------- Landing page ------- */
    .game-section {
      padding: 30px 15px 20px;
    }
    .game-section .item {
      margin: 0 10px 40px;
      width: 200px;
      height: 280px;
    }
    .game-section .item.active {
      width: 270px;
      box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .game-section .item-desc {
      padding: 5px 14px 5px;
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }
  
  @media (max-width: 550px){
    .game-section .item {
      width: 80vw;
    }
    .game-section .item.active {
      width: 80vw !important;
    }
  }