<section>
    <article  class="article d-none" id="restorani" #restorani>
        <section class="game-section">
            <h2 class="line-title">Restorani</h2>
            <div class="owl-carousel custom-carousel owl-theme">
              <div id="restoran-1" class="item active">
                <div class="item-desc w-100">
                  <h3>Lorenzo i Kakalamba</h3>
                  <p>
                    <span class="w-100 d-flex justify-content-around">
                      <a class="lookup-map" href="https://restorani.rs/restoran/restoran-lorenzo-i-kakalamba-beograd" target="_blank" >Idi na sajt</a>
                      <a (click)="goToMap('restoran',0)" class="lookup-map" >Vidi na mapi</a>
                    </span>
                  </p>
                </div>
              </div>
              <div id="restoran-2" class="item" >
                <div class="item-desc w-100">
                    <h3>Pomodoro</h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://restorani.rs/restoran/restoran-lorenzo-i-kakalamba-beograd" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',1)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-3" class="item">
                <div class="item-desc w-100">
                    <h3>Orašac </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.restoranorasac.com" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',2)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-4" class="item">
                <div class="item-desc w-100">
                    <h3>Sumatovac Al Forno</h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.instagram.com/sumatovac_alforno/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',3)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-5" class="item">
                <div class="item-desc w-100">
                    <h3>Hanan </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.restoranhanan.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',4)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-6" class="item" >
                <div class="item-desc w-100">
                    <h3>Snezana </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.restoranhanan.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',5)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-7" class="item" >
                <div class="item-desc  w-100">
                    <h3>Trattoria Pepe </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://pepe.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',6)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-8" class="item" >
                <div class="item-desc w-100">
                    <h3>Red Bread </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://redbread.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',7)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-9" class="item" >
                <div class="item-desc w-100">
                    <h3>Konoba Akustik </h3>
                    <p> 
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.dostava.konobaakustik.rs/dnevni-meni.html" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',8)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-10" class="item" >
                <div class="item-desc w-100">
                    <h3>Zavicaj Skadarlija </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.restoranzavicaj.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',9)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-11" class="item" >
                <div class="item-desc w-100">
                    <h3>Restoran Nebojsa </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://nebojsarestoran.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',10)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-12" class="item" >
                <div class="item-desc w-100">
                    <h3>Restoran Durmitor </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.restorandurmitor.rs/jelovnik/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',11)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-13" class="item" >
                <div class="item-desc w-100">
                    <h3>Lavash  </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://www.gdeizaci.com/restorani-beograd/restoran-lavash-beton-hala" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',12)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-14" class="item" >
                <div class="item-desc w-100">
                    <h3>Smokvica </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://smokvica.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',13)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-15" class="item" >
                <div class="item-desc w-100">
                    <h3>Grmeč  </h3>
                    <p>
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="https://restorangrmec.rs/" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',14)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
              <div id="restoran-16" class="item" >
                <div class="item-desc w-100">
                    <h3>Konak Mikan </h3>
                    <p> 
                      <span class="w-100 d-flex justify-content-around">
                        <a class="lookup-map" href="http://www.konakmikan.com/restoran-mikan-beograd" target="_blank" >Idi na sajt</a>
                        <a (click)="goToMap('restoran',15)" class="lookup-map" >Vidi na mapi</a>
                      </span>
                    </p>
                </div>
              </div>
            </div>
          </section> 
          <section>
            <div [innerHTML]="currentMapRestoran"></div>
          </section>
    </article>
    <article  class="article d-none" id="kafane" #kafane>
      <section class="game-section">
          <h2 class="line-title">Kafane</h2>
          <div class="owl-carousel custom-carousel owl-theme">
            <div id="kafana-1" class="item active">
              <div class="item-desc w-100">
                <h3>Pavle Korčagin</h3>
                <p>
                  <span class="w-100 d-flex justify-content-around">
                    <a class="lookup-map" href="https://kafanapavlekorcagin.rs/kafana-pavle-korcagin-beograd" target="_blank" >Idi na sajt</a>
                    <a (click)="goToMap('kafana',0)" class="lookup-map" >Vidi na mapi</a>
                  </span>
                </p>
              </div>
            </div>
            <div id="kafana-2" class="item" >
              <div class="item-desc w-100">
                  <h3>Limun žut</h3>
                  <p>
                    <span class="w-100 d-flex justify-content-around">
                      <a  class="lookup-map" href="https://kafanapavlekorcagin.rs/kafana-limun-zut-beograd" target="_blank">Idi na sajt</a>
                      <a (click)="goToMap('kafana',1)" class="lookup-map">Vidi na mapi</a>
                    </span>
                  </p>
              </div>
            </div>
            <div id="kafana-3" class="item">
              <div class="item-desc w-100">
                  <h3>Znak pitanja </h3>
                  <p>
                    <span class="w-100 d-flex justify-content-around">
                      <a  class="lookup-map" href="https://kafanapavlekorcagin.rs/kafana-limun-zut-beograd" target="_blank">Idi na sajt</a>
                      <a (click)="goToMap('kafana',2)" class="lookup-map">Vidi na mapi</a>
                    </span>
                  </p>
              </div>
            </div>
            <div id="kafana-4" class="item">
              <div class="item-desc w-100">
                  <h3>Tri šešira</h3>
                  <p>
                    Tri šešira su čuvari kulturnog nasljeđa, pružaju 
                    gostima ne samo domaće specijalitete, već i putovanje kroz vreme i prostor koje obogaćuje dušu.
                    Svakog dana od 14h uživajte u zvucima tamburice.
                    <br/>
                    <span class="w-100 d-flex justify-content-around">   
                      <a  class="lookup-map" href="https://trisesira.rs/" target="_blank">Idi na sajt</a>
                      <a (click)="goToMap('kafana',3)" class="lookup-map" >Vidi na mapi</a>
                    </span>
                  </p>
              </div>
            </div>
            <div id="kafana-5" class="item">
              <div class="item-desc w-100">
                  <h3>Dva jelena  </h3>
                  <p>
                    Osnovan davne 1832.godine, restoran Dva Jelena je vekovni simbol Beograda, čuvar tradicije i boemskog duha.
                    Poznat je po specijalitetima tradicionalne domaće kuhinje vrhunskog kvaliteta, svom  toplom ambijentu i starogradskoj muzici.
                    Svakog dana u nedelji za vreme ručka i večere uživajte u nezaboravnom provodu uz tamburaše i starogradsku muziku.
                    <br/>
                    <span class="w-100 d-flex justify-content-around">   
                      <a  class="lookup-map" href="https://dvajelena.rs/" target="_blank">Idi na sajt</a>
                      <a (click)="goToMap('kafana',4)" class="lookup-map">Vidi na mapi</a>
                    </span>
                  </p>
              </div>
            </div>
            <div id="kafana-6" class="item" >
              <div class="item-desc">
                  <h3>Kafana Jedno Mesto </h3>
                  <p>
                    <span class="w-100 d-flex justify-content-around">   
                      <a  class="lookup-map" href="https://www.kudaveceras.rs/kafane-beograd/kafana-jedno-mesto" target="_blank">Idi na sajt</a>
                      <a (click)="goToMap('kafana',5)" class="lookup-map">Vidi na mapi</a>
                    </span>
                  </p>
              </div>
            </div>
            <div id="kafana-7" class="item" >
              <div class="item-desc">
                  <h3>Kafana Jazbina</h3>
                  <p>
                    <span class="w-100 d-flex justify-content-around">   
                      <a  class="lookup-map" href="https://www.beogradnocu.com/kafane-u-beogradu/kafana-jazbina/" target="_blank">Idi na sajt</a>
                      <a (click)="goToMap('kafana',6)" class="lookup-map">Vidi na mapi</a>
                    </span>
                  </p>
              </div>
            </div>

          </div>
        </section> 
        <section>
          <div [innerHTML]="currentMapRestoran"></div>
        </section>
  </article>
    <article class="article d-none" id="muzeji" #muzeji>
      <section class="game-section">
          <h2 class="line-title">Muzeji</h2>
          <div class="owl-carousel custom-carousel owl-theme">
            <div id="muzej-0" class="item active">
              <div class="item-desc">
                <h3>Narodni muzej</h3>
                <p>
                  Ponedeljkom - Ne radi<br/>
                  Utorak, Sreda, Petak, Nedelja - 10 - 18h<br/>
                  Četvrtak i Subota - 12-20h<br/>
                  Cena: 300 do 600rsd, besplatno nedeljom<br/>
                  <a href="http://www.narodnimuzej.rs" class="lookup-map" target="_blank">Idi na sajt</a>
                </p>
              </div>
            </div>
            <div id="muzej-2" class="item" >
              <div class="item-desc">
                  <h3>Muzej Grada Beograda</h3>
                  <p> 
                    Ponedeljkom-Ne radi<br/>
                    Utorak, Sreda, Petak, Nedelja - 10 - 18h<br/>
                    Četvrtak i Subota - 12-20h<br/>
                    Cena: 300 do 600rsd, besplatno nedeljom<br/>
                    <a href="http://www.mgb.org.rs/" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-3" class="item" >
              <div class="item-desc">
                  <h3>Muzej Nikole Tesle</h3>
                  <p>
                    Ponedeljak: 10:00-18:00<br/>
                    Utorak-nedelja: 10:00-20:00<br/>
                    <a href="https://tesla-museum.org/" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-4" class="item" >
              <div class="item-desc">
                  <h3>Etnografski muzej</h3>
                  <p>
                    Radno vreme od 10-20h<br/>
                    <a href="https://etnografskimuzej.rs" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-5" class="item" >
              <div class="item-desc">
                  <h3>Istorijski muzej Srbije</h3>
                  <p>
                    Radno vreme: utorak - nedelja od 12 do 20 časova<br/>
                    <a href="https://imus.org.rs" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-6" class="item" >
              <div class="item-desc">
                  <h3>Muzej Jugoslavije</h3>
                  <p>
                    Cena 400 din<br/>
                    Utorak – Nedelja 10:00 – 18:00<br/>
                    Muzej je zatvoren ponedeljkom<br/>
                    <a href="https://muzej-jugoslavije.org" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-7" class="item" >
              <div class="item-desc">
                  <h3>Konak Kneginje Ljubice</h3>
                  <p>
                    Utorak, Sreda, Četvrtak, Subota: 10-17 časova<br/>
                    Perak: 10-18 časova<br/>
                    Nedelja: 10-14 časova<br/>
                    Ponedeljak: zatvoren<br/>
                    Cena 300 din<br/>
                    <a href="http://www.mgb.org.rs/visit/details/8" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-8" class="item" >
              <div class="item-desc">
                  <h3>Konak Kneza Miloša</h3>
                  <p>
                    Radno vreme: od 1. aprila do 1. oktobra svakog dana osmi ponedeljka 10–17 časova. Od 1. oktobra do 1. aprila svakog dana osim ponedeljka 10–16 časova.<br/>                    
                    <a href="https://imus.org.rs/konak-kneza-milosa-2/" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-9" class="item" >
              <div class="item-desc">
                  <h3>Muzej Savremene Umetnosti</h3>
                  <p>
                    Radno vreme: od 10:00 do 18:00 Četvrtkom od 12:00 do 20:00 Utorkom zatvoreno <br/>
                    Adresa: Ušće 10<br/>
                    <a href="http://muzejspc.rs" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-10" class="item" >
              <div class="item-desc">
                  <h3>M. Jugoslovenske Kinoteke</h3>
                  <p>
                    Radno vreme: od 16 do 21h<br/>
                    Adresa: Kosovska 11<br/>
                    <a href="http://www.kinoteka.org.rs/muzej-kinoteke/" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
            <div id="muzej-11" class="item" >
              <div class="item-desc">
                  <h3>M. Pravoslavne Crkve</h3>
                  <p>
                    Cena: 200 din<br/>
                    Radno vreme: ponedeljak - petak 9-16h<br/>
                    Adresa: Kneza Sime Markovića br. 6<br/>
                    <a href="http://muzejspc.rs" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
              </div>
            </div>
           
          </div>
          </section> 
    </article>
    <article class="article d-none" id="pozorista" #pozorista>
        <section class="game-section">
            <h2 class="line-title">Pozorišta</h2>
            <div class="owl-carousel custom-carousel owl-theme">
              <div id="pozoriste-1" class="item active">
                <div class="item-desc">
                  <h3>Narodno Pozorište</h3>
                  <p>
                    Adresa: Francuska 3<br/>
                    <a href="https://www.narodnopozoriste.rs" class="lookup-map" target="_blank">Idi na sajt</a>
                  </p>
                 </div>
              </div>
              <div id="pozoriste-2" class="item" >
                <div class="item-desc">
                    <h3>Pozorište na Terazijama</h3>
                    <p>
                      Adresa: Trg Nikole Pašića 3<br/>
                      <a href="https://pozoristeterazije.com" class="lookup-map" target="_blank"> Idi na sajt.</a>
                    </p>
                 </div>
              </div>
              <div id="pozoriste-3" class="item">
                <div class="item-desc">
                    <h3>Atelje 212</h3>
                    <p>
                      Adresa: Svetogorska 21<br/>
                      <a href="https://atelje212.rs" class="lookup-map" target="_blank" >Idi na sajt.</a>
                    </p>
                 </div>
              </div>
              <div id="pozoriste-4" class="item">
                <div class="item-desc">
                    <h3>Bitef Teatar</h3>
                    <p>
                      Adresa: Skver Mire Trailović 1 <br/>
                      <a href="https://teatar.bitef.rs/rs" class="lookup-map" target="_blank">Idi na sajt.</a>
                    </p>
                 </div>
              </div>
              <div id="pozoriste-5" class="item">
                <div class="item-desc">
                  <h3>Jugoslovensko Dramsko P.</h3>
                  <p>
                    Adresa: Kralja Milana 50<br/>
                    <a href="https://www.jdp.rs/en/" class="lookup-map" target="_blank"> Idi na sajt.</a>
                  </p>
                </div>
              </div>
              <div id="pozoriste-6" class="item" >
                <div class="item-desc">
                  <h3>Beogradsko Dramsko P.</h3>
                  <p>
                    Adresa: Mileševska 64a <br>
                    <a href="https://www.bdp.rs" class="lookup-map" target="_blank">Idi na sajt.</a>
                  </p>
                </div>
              </div>
              <div id="pozoriste-7" class="item" >
                <div class="item-desc">
                  <h3>Zvezdara Teatar</h3>
                  <p>
                    Adresa: Milana Rakića 38 <br>
                    <a href="https://zvezdarateatar.rs" class="lookup-map" target="_blank">Idi na sajt.</a>
                  </p>
                </div>
              </div>
            </div>
          </section> 
    </article>
    <article class="article d-none"  id="parkovi" #parkovi>
      <section class="game-section">
          <h2 class="line-title" >Parkovi</h2>
          <div class="owl-carousel custom-carousel owl-theme">
            <div #park1 id="park-1" class="item active">
              <div class="item-desc">
                <h3>Kalemegdan</h3>
              </div>
            </div>
            <div id="park-2" class="item" >
              <div class="item-desc">
                  <h3>Pionirski Park</h3>
              </div>
            </div>
            <div id="park-3" class="item">
              <div class="item-desc">
                  <h3>Tašmajdan</h3>
              </div>
            </div>
            <div id="park-4" class="item">
              <div class="item-desc">
                  <h3>Manjež</h3>
              </div>
            </div>
            <div id="park-5" class="item">
              <div class="item-desc">
                  <h3>Studentski Park</h3>
              </div>
            </div>
            <div id="park-6" class="item" >
              <div class="item-desc">
                  <h3>Park Ćirila i Metodija</h3>
              </div>
            </div>
            <div id="park-7" class="item" >
              <div class="item-desc">
                  <h3>Botanička Bašta J</h3>
              </div>
            </div>
            <div id="park-8" class="item" >
              <div class="item-desc">
                  <h3>Karađorđev Park</h3>
              </div>
            </div>
          </div>
        </section> 
    </article>
</section>