
<section class="contact-page-google-map">
    <!-- <iframe [src]="sanitizedUrl" class="google-map__two" allowfullscreen></iframe> -->
    <!-- <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=20.45292466878891%2C44.81713051789055%2C20.457403957843784%2C44.8187896064514&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/44.81796/20.45516">Погледај већу карту</a></small> -->
    <iframe class="my-google-map google-map__two {{color}}" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.2115370034617!2d20.4582235762389!3d44.817254971070724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7ab3b047ac0d%3A0xa8297b3d4719078!2z0JTQvtGB0LjRgtC10ZjQtdCy0LAgMWEsINCR0LXQvtCz0YDQsNC0IDExMDAw!5e0!3m2!1ssr!2srs!4v1698487115368!5m2!1ssr!2srs"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
