<div class="footer-widget__column footer-widget__contact">
    <div class="footer-widget__title-box">
        <h3 id="contact-adress-title" class="footer-widget__title color-strong">Kontakt I Adresa</h3>
    </div>
    <ul class="footer-widget__contact-list list-unstyled">
        <li>
            <div class="icon">
                <i class="fa-solid fa-location-dot color-strong"></i>
                <!-- <span class="fas fa-envelope color-strong"></span> -->
            </div>
            <div class="text map-text">
                <p class="mb-0"><a href="mailto:{{CONTACT.EMAIL}}" class="color-strong">{{CONTACT.ADRESS}}</a></p>
            </div>
        </li>
        <li>
            <div class="icon">
                <span class="fas fa-envelope color-strong"></span>
            </div>
            <div class="text">
                <p class="mb-0"><a href="mailto:{{CONTACT.EMAIL}}" class="color-strong">{{CONTACT.EMAIL}}</a></p>
            </div>
        </li>
        <li>
            <div class="icon">
                <span class="icon-telephone color-strong"></span>
            </div>
            <div class="text">
                <p class="mb-0"><a href="tel:{{CONTACT.PHONE}}" class="color-strong">{{CONTACT.PHONE}}</a></p>
            </div>
        </li>
    </ul>
</div>