.footer-widget__title{
    color: var(--najjaca-roza) !important;
}
.footer-widget__column.footer-widget__contact > *, .footer-widget__title-box > .footer-widget__title{
  font-family: var(--alipes-font-two) !important;
  font-size: 28px !important;
}
.icon i{
    font-size: 18px;
}
#contact-adress-title{
    margin-bottom: 20px !important;
}
.footer-widget__contact-list div p a{
    font-size: 19px !important;
} 
@media (max-width: 996px){
    #contact-adress-title{
        text-align: center;
        margin-bottom: 22px !important;
    }
    .map-text{
        margin-left: 21px !important;
    }
}
@media (max-width: 431px){
    .footer-widget__title {
        margin-bottom: 0px !important;
    }
    .ml-35{
        margin-bottom: 5px !important;
    }
    .footer-widget__title-box, .footer-widget__title-box{
        margin-bottom: 0px !important;
    }
  .mat-typography h3{
    margin-bottom: 6px !important;
  }
}