/* .card-for-single{
    max-width: 450px
} */
.apartment-container {
    display: flex;
    flex-wrap: wrap; /* Omogućava prelazak u novi red kada nema dovoljno širine */
    justify-content: space-between; /* Raspored između elemenata */
  }
.elementor-widget-container > .apartment-two{
    padding-bottom: 0px !important;
}
