<section class="container pb-90">
    <h3 class="category-title text-center" contenteditable>
        Dodatne Usluge
    </h3>
    <section class="card__container">
  
      <!--==================== SERVICE CARD ====================-->
      <div class="card__bx card__1 col-4">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx">
                <img class="w-100" src="../../../../../../assets/images/logo-paradise.png" alt="logo paradise">
            </div>
          </div>
          <div class="card__content">
            <h3 class="mb-0">Transfer Od I Do Aerodorma
            </h3>
            <p>Za više informacija pozvati
            </p>
            <a href="tel:{{tel}}">Pozovi</a>
          </div>
        </div>
      </div>
      <div class="card__bx card__2">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx"><img class="w-100" src="../../../../../../assets/images/logo-paradise.png" alt="logo paradise"></div>
          </div>
          <div class="card__content">
            <h3>Rent A Car</h3>
            <p>Za više informacija pozvati
            </p>
            <a href="tel:{{tel}}">Pozovi</a>
          </div>
        </div>
      </div>
      <div class="card__bx card__3">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx"><img class="w-100" src="../../../../../../assets/images/logo-paradise.png" alt="logo paradise"></div>
          </div>
          <div class="card__content">
            <h3>Oprema Za Bebe</h3>
            <p>Za više informacija pozvati</p>
            <a href="tel:{{tel}}">Pozovi</a>
          </div>
        </div>
      </div>
  
    </section>
  
  </section>