<div class="splitview skewed">
    <div class="panel bottom relative">
        <div class="content">
            <div class="description description-1">
                <h1>BEOGRAD</h1>
                <p></p>
            </div>

            <img src="assets/images/belgrade/belgrade-swiper.jpg" alt="Original">
        </div>
    </div>

    <div class="panel top">
        <div class="content ">
            <div class="description description-2">
                <h1>PARADISE</h1>
                <p></p>
            </div>

            <img src="assets/images/belgrade/belgrade-swiper-2.jpg" alt="Duotone">
        </div>
    </div>

    <div class="handle"></div>
</div>