<section class="apartment-one bg-krem2 mb-0">
    <div class="apartment-one__bg  premium-bg premium-container"></div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline title-premium">Naši Apartmani</span>
            <h2 class="section-title__title"><a class="hover-roza" routerLink="/apartments">Odaberite Vaš Omiljeni</a></h2>
        </div>
        
        <ng-container *ngIf="!loadingAllApartments">
            <div class="row">
                <div class="gallery-one__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                    "loop": true,
                    "autoplay": true,
                    "margin": 20,
                    "nav": false,
                    "dots": false,
                    "smartSpeed": 500,
                    "autoplayTimeout": 10000,
                    "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "992": {
                            "items": 3
                        },
                        "1292": {
                            "items": 4
                        },
                        "3000": {
                            "items": 5
                        }
                    }
                }'>
                <!--Apartment One Single Start-->
                <!-- <div class="col-xl-3 col-lg-6 col-md-6" *ngFor="let apartment of premiumApartments"> -->
                    <div class="item apartment-one__single" *ngFor="let apartment of allApartments">
                        <div class="apartment-one__img-box">
                            <div class="apartment-one__img">
                               <img src="{{apartment.file.path}}" alt="{{apartment.title}}">
                            </div>
                            <div class="apartment-one__content">
                                <div class="apartment-one__title-box">
                                    <h3 class="apartment-one__title"><a routerLink="/apartments/{{apartment.id}}">{{apartment.title}} {{apartment.category.name}}
                                            </a></h3>
                                </div>
                                <div class="apartment-one__arrow">
                                    <a routerLink="/apartments/{{apartment.id}}"><span class="icon-right-arrow"></span></a>

                                </div>
                            </div>
                            <div class="apartment-one__btn-box">
                                <a routerLink="/apartments/{{apartment.id}}" class="thm-btn apartment-one__btn font-20">{{apartment.price.regularPrice | MoneyFormat }} EUR.</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </ng-container>
        <ng-container *ngIf="loadingAllApartments">
            <div class="container d-flex justify-content-center">
                <div class="alert">
                    <div class="spinner" [@spin]></div>
                </div>
            </div>
        </ng-container>

        </div>
<script>
    
</script>    
</section>
