<section class="">
    <section class="location">
        <div class="location-shape-1 float-bob-x">
            <img src="assets/images/location-shape-1.png" alt>
        </div>
        <div class="container">
            <div class="row">
                <!--Location single Start-->
                <div class="col-12">
                    <div class="location__single">
                        <div class="row">
                            <div class="col-12 col-lg-4 d-flex justify-content-center align-center m-12 mt-12-more-mobile">
                                <div class="contact-block location__phone-email">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <a  class="location__text">{{CONTACT_.ADRESS}}, Beograd</a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 d-flex justify-content-center align-center m-12">
                                <div class="contact-block location__phone-email">
                                    <i class="fa-solid fa-phone"></i>
                                    <div class="d-flex justify-content-around">
                                        <a href="tel:{{CONTACT_.PHONE}}" class="mr-10">{{CONTACT_.PHONE}}</a>
                                        <a href="tel:{{CONTACT_.PHONE2}}" class="">{{CONTACT_.PHONE2}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 d-flex justify-content-center align-center m-12 mb-0-mobile">
                                <div class="contact-block location__phone-email">
                                    <i class="fa-solid fa-envelope"></i>
                                    <a href="mailto:needhelp@company.com" class="m-12 mb-0-mobile">{{CONTACT_.EMAIL}}</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
        
            </div>
        </div>
    </section>
</section>