<div class="table-container margin-top-150 ">
    <h2 class="color-white primary-color reservation-title">Moje Rezervacije</h2>

    <div class="ml-auto d-block justify-content-center align-items-center">
        <p class="black">Uplaćeno: <span class="reservation-sum-number primary-color"> {{paid | MoneyFormat}} EUR</span></p>
        <p class="black">Na čekanju za uplatu: <span class="reservation-sum-number primary-color"> {{toBePaid | MoneyFormat}} EUR</span></p>
        <p class="black">
            * Sekcija "Uplaćeno" ukazuje na to koliko novca ste do sada ukupno uplatili za sve rezervacije.
              Sekcija "Na čekanju za uplatu" ukazuje na to koliko je još novca ostalo za uplatu za preostale rezervacije. 
        </p>
    </div>
    <div class="w-100" >
        <div class=" p-4 filter-form ">
            <mat-form-field class="col-12 col-lg-3">
              <mat-label>Od</mat-label>
              <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
        
            <mat-form-field class="col-12 col-lg-3 offset-lg-1">
              <mat-label>Do</mat-label>
              <input matInput [matDatepicker]="endDatePicker" [min]="startDate" [(ngModel)]="endDate">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        
        
            <mat-form-field class="col-12 col-lg-4 offset-lg-1">
              <mat-label>Po naslovu apartmana</mat-label>
              <input matInput type="text" [(ngModel)]="apartmentKeyWord">
            </mat-form-field>

            <div class="w-100">
                <mat-radio-group [(ngModel)]="selectedRadioButtonValue" class="row">
                    <mat-radio-button class="col-12 col-md-3 color-white"  value="all" tabindex="0">Sve</mat-radio-button>
                    <mat-radio-button class="col-12 col-md-3 offset-md-1 color-white"  value="NotPaid">Neplaćeno</mat-radio-button>
                    <mat-radio-button class="col-12 col-md-3 offset-md-1 color-white"  value="Paid">Plaćeno</mat-radio-button>
                    <button mat-button class="mt-4 col-6 offset-3  bg-white primary-color-on-website" (click)="filtrate()">Primeni</button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!hasReservations && !loading">
        <div class="container d-flex">
            <div class="alert">
                <h3 class="filter-apartment-subtitle">Nazalost trnutno nema trazenih rezervacija</h3>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <div class="container d-flex justify-content-center">
            <div class="alert">
                <div class="spinner" [@spin]></div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="hasReservations" >
    <mat-table [dataSource]="reservations" class="mat-elevation-z8">

   
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100">Apartman</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="primary-color-on-website pointer w-100 "><span class="text-center w-100"> <a  class="primary-color-on-website pointer text-center w-100 " routerLink="apartments/{{reservation.apartmentId}}"> {{ reservation.title  }}</a></span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100">Datum Od</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100"><span class="text-center w-100" (click)='openDialog("Datum useljenja: ",reservation.from)'>{{ reservation.from | FormatDate}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100">Datum Do</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100" ><span class="text-center w-100" (click)='openDialog("Datum iseljenja: ",reservation.to)'>{{ reservation.to | FormatDate}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="numPerson">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100">Broj ljudi</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100"><span class="text-center w-100">{{ reservation.numPerson }} </span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100">Ukupna Cena</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100"><span class="text-center w-100">{{ reservation.amount | MoneyFormat }} eur</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="cancelled">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100 w-100">Otkazano?</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100"><span class="text-center w-100">{{ reservation.cancelled ? "Otkazano" : "Nije otkazano" }}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="cancel">
        <mat-header-cell *matHeaderCellDef class="w-100 text-center"><span class="text-center w-100">Otkazi</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation">
        <button mat-icon-button color="warning" class="w-100" (click)="CancelledDialog(reservation)">
            <mat-icon class="red-color pointer">Otkazi</mat-icon>
        </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isPaid">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100 w-100">Placeno?</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100"><span class="text-center w-100">{{ reservation.isPaid ? "Placeno" : "Nije placeno" }}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef><span class="text-center w-100">Kreirano</span></mat-header-cell>
        <mat-cell *matCellDef="let reservation" class="w-100"><span class="text-center w-100">{{reservation.createdAt | FormatDate}}</span></mat-cell>
    </ng-container>

    
   

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    </ng-container>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>