mat-table {
    width: 100%;
    border-radius: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    overflow-x: scroll;


  }
  .table-container {
    margin-top: 180px !important;
    width: 75%;
    margin: 0 auto;
  }

  mat-cell {
    min-width: 150px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  mat-cell,
  mat-header-cell {
    padding: 8px;
    min-width: 150px;

  }
  
  .mat-row {
    align-items: center;
  }
  .margin-top-150{
    margin-top: 150px !important;
  }


@media (max-width: 800px) {
    .table-container {
        width: 90% !important;
      }


}
.blue-color{
  color: aqua;
}
.pointer{
  cursor: pointer;
}
.primary-color{
  color: var(--jaka-roza) !important;
}
.black{
  color: black !important;
}
.success-snackbar{
  background-color: green !important;
  color: white !important;
}
.error-snackbar{
  background-color:red !important;
  color: white !important;
}
.primary-color-on-website{
  color:#cd8c66;
}
.color-white{
  color:white !important;
}
.add-apartment{
  background-color: #cd8c66;
  color: white;
  margin-left: 50px;
  font-size: 18px ;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.reservation-title{
    color: var(--jaka-roza) !important;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
    margin: 0 0 16px;
    margin-left: 0px !important;
}
.filter-form {
    background-color: var(--jaka-siva);
}
.show-form-button{
    background-color:#cd8c66 !important ;
}
.color-white{
    color: white;
}
.bg-white{
    background-color: white;
}
.filter-form{
    height: auto !important;
}
.primary-color-on-website{
    color:var(--jaka-roza);
}
.red-color{
  color:red;
}
.reservation-sum{
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.reservation-sum-number{
  color:#cd8c66;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
.filter-apartment-subtitle{
  color: var(--jaka-roza) !important;
}