<section class="testimonial-two pb-40">
    <div class="testimonial-two__bg" style="background-image: url(assets/images/testimonial-one-shape-2.png);"></div>
    <div class="container">
        <div class="testimonial-two__top">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="testimonial-two__top-left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline title-1">Naši zaposleni</span>
                            <h2 class="section-title__title title-2">Naša timski usmerena organizacija je ponosna 
                                na svoje zaposlene, koji su ključni pokretači uspeha naše kompanije</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="testimonial-two__top-right">
                        <p class="testimonial-two__top-text text-1">Generalni
                             direktor, HR menadžerka, Finansijski direktor i Generalni menadžer donose jedinstvene 
                             veštine i stručnost na svoje pozicije. Svi su posvećeni pružanju vrhunske usluge našim
                              kupcima i ostvarivanju visokih standarda kroz inovativnost, integritet i timski rad. Njihova posvećenost i
                             strast doprinose stvaranju izuzetnih apartmana u našoj zgradi, pružajući našim klijentima ne samo dom, već i 
                             iskustvo koje će dugo pamtiti.</p>
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>
</section>