<section class="about-one">
    <div class="about-one__img-two">
        <img src="/assets/images/RQ5QCyvoX1sV.png" alt>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="about-one__left">
                    <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                        <div class="about-one__img">
                            <img src="/assets/images/home/test4.jpg" alt>
                        </div>
                        <div class="about-one__shape-1 shape-mover">
                            <img src="/assets/images/yx9bpYVnz0ep.png" alt>
                        </div>
                        <!-- <div class="about-one__big-text">Lux Place</div> -->
                    </div>
                </div>
            </div>
            <div  class="col-xl-7">
                <div  class="about-one__right">
                    <div  class="section-title text-left">
                        <span  class="section-title__tagline">PREGLED NAŠIH APARTMANA</span>
                        <h2  class="section-title__title color-strong text-first">
                            Tražite savršen smestaj za vas boravak? Vasa potraga se ovde zavrsava!
                        </h2>
                    </div>
                    <p  class="about-one__text-1 text-second">
                        Dobrodošli u naš svet apartmana. Naša ponuda će vas osvojiti svojom udobnošću, stilom, i svim potrebnim sadržajem.

                    </p>
                    <p  class="about-one__text-2 d-none">
                        Interijer volumena, prostora, vazduha, proporcija, s određenim svetlom i raspoloženjem. Ovi interijeri će trajati zauvek. Morate biti sigurni da ste na pravom mestu.
                    </p>
                    <ul  class="row about-one__points-list list-unstyled">
                        <li  class="col-4 mb-4 mb-xl-0">
                            <div  class="about-one__points-list-content">
                                <div  class="icon">
                                    <span  class="fa fa-check"></span>
                                </div>
                                <div  class="text mb-0">
                                    <p  class="subtitles mb-0 color-strong">Bezbednost</p>
                                </div>
                            </div>
                        </li>
                        <li  class="col-4 mb-4 mb-xl-0">
                            <div  class="about-one__points-list-content">
                                <div  class="icon">
                                    <span  class="fa fa-check"></span>
                                </div>
                                <div  class="text">
                                    <p  class="subtitles mb-0 color-strong">Udobnost</p>
                                </div>
                            </div>
                        </li>
                        <li  class="col-4 mb-4 mb-xl-0">
                            <div  class="about-one__points-list-content">
                                <div  class="icon">
                                    <span  class="fa fa-check"></span>
                                </div>
                                <div  class="text">
                                    <p  class="subtitles mb-0 color-strong">Čistoća</p>
                                </div>
                            </div>
                        </li>
                        <li  class="col-4">
                            <div  class="about-one__points-list-content">
                                <div  class="icon">
                                    <span  class="fa fa-check"></span>
                                </div>
                                <div  class="text">
                                    <p  class="subtitles mb-0 color-strong">Privatnost</p>
                                </div>
                            </div>
                        </li>
                        <li  class="col-4">
                            <div  class="about-one__points-list-content">
                                <div  class="icon">
                                    <span  class="fa fa-check"></span>
                                </div>
                                <div  class="text">
                                    <p  class="subtitles mb-0 color-strong">Lokacija</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-4">
                            <div  class="about-one__points-list-content">
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div  class="text">
                                    <p class="subtitles mb-0 color-strong">Ljubaznost</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="w-100 pt-3 text-last">
                        <p class="subtext">Bez obzira da li putujete poslovno, sa porodicom ili prijateljima, imamo apartmane koji će zadovoljiti sve vaše potrebe
                            </p>
                    </div>
                    <div  class="about-one__btn-box">
                        <div  class="about-one__shape-2 float-bob-x">
                            <img  src="/assets/images/about-one-shape-2.png" alt="arrow left">
                        </div>
                        <a  class="about-one__btn thm-btn" routerLink="/apartments/category/1" href="/apartments/category/1">Pogledaj</a>
                    </div>
                </div>
            </div>
                        
            <!-- <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">PREGLED NAŠIH OBJEKATA</span>
                        <h2 class="section-title__title  color-strong">LUKSUZNI APARTMANI VISOKOG PREMIUM KVALITETA</h2>
                    </div>
                    <p class="about-one__text-1">Mnogi važni brendovi ukazali su nam svoje povjerenje</p>
                    <p class="about-one__text-2">Interijer volumena, prostora, vazduha, proporcija, s određenim svetlom i raspoloženjem.
                         Ovi interijeri će trajati zauvek. Morate biti sigurni da ste na pravom mestu.</p>
                    <ul class="about-one__points-list list-unstyled">
                        <li>
                            <div class="about-one__points-list-content">
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text mb-0">
                                    <p class="subtitles mb-0 color-strong">Bezbednost</p>
                                </div>
                            </div>
                            <p class="about-one__points-text">Protiv požarni sitetmi, protiv poplavni sistemi
                            </p>
                        </li>
                        <li>
                            <div class="about-one__points-list-content">
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text">
                                    <p class="subtitles mb-0 color-strong">Komfor</p>
                                </div>
                            </div>
                            <p class="about-one__points-text">Velike površine apartmana sa skladno raspoređenim prostorijama.
                            </p>
                        </li>
                    </ul>
                    <div class="about-one__btn-box">
                        <div class="about-one__shape-2 float-bob-x">
                            <img src="/assets/images/EqwFP4vnTIHk.png" alt>
                        </div>
                        <a routerLink="/apartments/category/{{idLuxCategory}}" class="about-one__btn thm-btn">Pogledaj</a>
                    </div>
                </div>
            </div> -->
      
        </div>
    </div>
</section>