
<div class="page-wrapper">

    <app-baners (apartmentsLoaded)="apartmentsLoaded($event)" ></app-baners>

    <app-about-us [idLuxCategory]="idLuxCategory" ></app-about-us>
    
    <app-features></app-features>

    <!-- <app-section-video></app-section-video> -->

    <app-categoires></app-categoires>

    <app-our-services></app-our-services>

    <app-premium-apartments [loadingAllApartments]="loadingAllApartments" [allApartments]="allApartments"></app-premium-apartments>

    <!-- <app-economic-apartment [loadingEconomicApartments]="loadingEconomicApartments" [economicApartments]="economicApartments"></app-economic-apartment> -->

    <app-contact></app-contact>
    <app-google-map></app-google-map>


</div>

<script  type="application/javascript">

const originalWindowOnLoad = window.onload;

// Kreiranje proxy-ja za window.onload
window.onload = new Proxy(originalWindowOnLoad, {
  apply: function(target, thisArg, argumentsList) {
    // Prvo pozivamo originalnu window.onload funkciju
    if (typeof target === 'function') {
      target.apply(thisArg, argumentsList);
    }
  }
});
    </script>
<script src="/assets/js/0EsCMyYSrYBP.js"></script>
<script src="/assets/js/rB7zmagzwwfM.js"></script>
<script src="/assets/js/Bcwm3AjSDSw9.js"></script>
<script src="/assets/js/7USPyNq47tP2.js"></script>
<script src="/assets/js/SCaJMTTbIu4J.js"></script>
<script src="/assets/js/tj1YBJRrjMS4.js"></script>
<script src="/assets/js/UK5qihRF2PSJ.js"></script>
<script src="/assets/js/vrA3Hq2xWm3S.js"></script>
<script src="/assets/js/ZITyeoUTvonx.js"></script>
<script src="/assets/js/ZVjuwVsBer0D.js"></script>
<script src="/assets/js/liLrzvftRjbJ.js"></script>
<script src="/assets/js/0qia4Sw9ZqCW.js"></script>
<script src="/assets/js/06ugVfwBlEq6.js"></script>
<script src="/assets/js/bWUGMYNZ18CQ.js"></script>
<script src="/assets/js/jSPhyrjJnyVw.js"></script>
<script src="/assets/js/q7AmmmMVqAv0.js"></script>
<script src="/assets/js/qtPlHenqFzpe.js"></script>
<script src="/assets/js/PwRDJjcR16TN.js"></script>
<script src="/assets/js/xZrXMQcB1IE9.js"></script>
<script src="/assets/js/RICajdUIM73V.js"></script>
<script src="/assets/js/SnNGdOT1pw2H.js"></script>
<script src="/assets/js/nVZJ0n7W5uoz.js"></script>
<script src="/assets/js/nzMeSf6yhjyI.js"></script>
<script src="/assets/js/Goijt7FlCeT5.js"></script>
<script src="/assets/js/CTAqfeYfGMAH.js"></script>
<script src="https://kit.fontawesome.com/d97b95c4d1.js" crossorigin="anonymous"></script>

<script src="/assets/js/0Amain.js"></script>




<script src="/assets/js/Pzd9jIG4P8zR.js"></script>