.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    max-width: 400px;
    width: 100%;
    background-color: rgb(228, 228, 228);
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  .error-message {
    color: red;
  }

.color-white{
  color: white !important;
}
  