<!-- 
<section class="brand-one ">
    <h2 class="uppercase category-title pt-3 text-center font-25 color-low-primary">Kategorije</h2>
    <div class="brand-one__wrap pt-0">
        <div class="brand-one__shape-1 float-bob-y">
            <img src="/assets/images/nd0uyLSZLzw0.png" alt>
        </div>
        <div class="brand-one__shape-2 float-bob-x">
            <img src="/assets/images/qsDlpRGhb4AR.png" alt>
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand-one__inner bg-color-low-primary pt-3 pb-3">
                        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 60,
                    "slidesPerView": 6
                }
            }}'>
                            <div class="swiper-wrapper  color-white justify-content-center">
                                <div class="row d-flex mx-0 w-100">
                                   
                                <ng-container *ngFor="let name of categories; let i = index">
                                    <div class="col-12 col-lg-3">
                                    <ng-container *ngIf="i==0">
                                        <div class="wrapper">
                                            <div class="glow pointer " data-text= "Glow"><a class="a-color color-strong pointer clasic-link" routerLink="/apartments/category/{{name.id}}"> {{name.name}}</a></div>
                                            <div class="glow-shadoww" aria-hidden="true"><a class="pointer glow-link" routerLink="/apartments/category/{{name.id}}">{{name.name}}</a></div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="i>0"> 
                                        <div class="wrapper">
                                            <div class="glow pointer" data-text= "Glow"><a class="a-color color-strong pointer clasic-link" routerLink="/apartments/category/{{name.id}}"> {{name.name}}</a></div>
                                            <div class="glow-shadoww" aria-hidden="true"><a class=" glow-link pointer" routerLink="/apartments/category/{{name.id}}">{{name.name}}</a></div>
                                        </div>
                                    </ng-container>
                                    </div>
                                </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 -->
<section class="pb-90">
    <div class="w-100 d-flex justify-content-center title-container">
        <h3 class="category-title text-center" >
            Kategorije
        </h3>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <section class="row container">
            <div class="container col-12 col-lg-2 relative">
                <div class="overlay"></div>
                <a routerLink="/apartments/category/1">
                    <div class="text-categories">
                        <div class="wrapper">
                            <div id="E" class="letter">L</div>
                            <div class="shadoww">L</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">U</div>
                            <div class="shadoww">U</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">X</div>
                            <div class="shadoww">X</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container col-12 col-lg-2 offset-lg-1 relative">
                <div class="overlay"></div>

                <a routerLink="/apartments/category/6">
                    <div class="text-categories">
                        <div class="wrapper">
                            <div id="E" class="letter">E</div>
                            <div class="shadoww">E</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">C</div>
                            <div class="shadoww">C</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">O</div>
                            <div class="shadoww">O</div>
                        </div>
                        <div class="wrapper">
                            <div id="N" class="letter">N</div>
                            <div class="shadoww">N</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">O</div>
                            <div class="shadoww">O</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">M</div>
                            <div class="shadoww">M</div>
                        </div>
                        <div class="wrapper">
                            <div id="I" class="letter">I</div>
                            <div class="shadoww">I</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">C</div>
                            <div class="shadoww">C</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container col-12 col-lg-2 offset-lg-1 relative">
                <div class="overlay"></div>

                <a routerLink="/apartments/category/5">
                    <div class="text-categories">
                        <div class="wrapper">
                            <div id="L" class="letter">P</div>
                            <div class="shadoww">P</div>
                        </div>
                        <div class="wrapper">
                            <div id="L" class="letter">R</div>
                            <div class="shadoww">R</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">E</div>
                            <div class="shadoww">E</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">M</div>
                            <div class="shadoww">M</div>
                        </div>
                        <div class="wrapper">
                            <div id="I" class="letter">I</div>
                            <div class="shadoww">I</div>
                        </div>
                        <div class="wrapper">
                            <div id="I" class="letter">U</div>
                            <div class="shadoww">U</div>
                        </div>
                        <div class="wrapper">
                            <div id="E" class="letter">M</div>
                            <div class="shadoww">M</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container col-12 col-lg-2 offset-lg-1 relative">
                <div class="overlay"></div>

                <a routerLink="/apartments/category/7">
                    <div class="text-categories">
                        <div class="wrapper">
                            <div id="S" class="letter">S</div>
                            <div class="shadoww">S</div>
                        </div>
                        <div class="wrapper">
                            <div id="S" class="letter">T</div>
                            <div class="shadoww">T</div>
                        </div>
                        <div class="wrapper">
                            <div id="S" class="letter">A</div>
                            <div class="shadoww">A</div>
                        </div>
                        <div class="wrapper">
                            <div id="N" class="letter">N</div>
                            <div class="shadoww">N</div>
                        </div>
                        <div class="wrapper">
                            <div id="N" class="letter">D</div>
                            <div class="shadoww">D</div>
                        </div>
                        <div class="wrapper">
                            <div id="N" class="letter">A</div>
                            <div class="shadoww">A</div>
                        </div>
                        <div class="wrapper">
                            <div id="N" class="letter">R</div>
                            <div class="shadoww">R</div>
                        </div>
                        <div class="wrapper">
                            <div id="N" class="letter">D</div>
                            <div class="shadoww">D</div>
                        </div>
                        
                    </div>
                </a>
            </div>
        </section>
    </div>
</section>